h1 {color: rosybrown;}
#f1 {color: royalblue;}
#f2 {color: darkseagreen;}
#f3 {color: indianred;}
#f4 {color: lightgoldenrodyellow;}
.b1 {background-color: black;}
.b2 {background-color: sandybrown;}
.b3 {background-color: lightcoral;}
.b4 {background-color: darkorange;}