h1 {color: palevioletred;}
#f1 {color: royalblue;}
.f2 {color: darkseagreen;}
#grande .interior em {
	color: red;
	background-color: gray;}
#medio .interior b {
	color:  blue;
	background-color: black;}
#ultimo .interior b {
	color: green;
	background-color: orange;}