h1 {color: rosybrown;}
p {color: royalblue; background-color: lightcyan;}
span {color: lightcoral; background-color: darkred;}
li {font-family: Algerian;}
td {color: darkgreen;}
th {color: lightgoldenrodyellow;}
a {color: salmon;}